body {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;

  height: 100vh;
  background-image: url("background.jpg");
  background-size: cover;
  width: 100%;
  margin: 0px;
  /* overflow: hidden; */
  text-transform: uppercase;
}
#navbar {
  display: flex;
  flex-direction: row;
  margin: 0px;
  width: 100%;
  height: 11vh;
  background-color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.icons {
  font-size: 100;
  margin: 10px;
  margin: 3vh 15vw 5vh 15vw;
  background-color: #fff;
}
.icons:hover{
  cursor: pointer;
}

.fas {
  background: #9c47fc;
  background: linear-gradient(#9c47fc, #356ad2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button{
  font-family: montserrat, sans-serif;
  font-weight:600;
  font-style: normal;
  text-transform: uppercase;
  border: 0px;
}

#onoffbuttonsHome {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh;
}

.buttonHome {
  width: 30vw;
  height: 20vh;
  margin: 3vh;
  text-align: center;
  border-radius: 25px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.05);
  color: white;
  font-size: 400%;
  border: 0px;
}

.buttonHome:hover {
  cursor: pointer;
}

.buttonHome:active {
  width: 29vw;
}

.buttonandquestion {
  display: flex;
  flex-direction: row;
}

.explanation {
  padding-top: 12vh;
  color: rgb(231, 231, 231);
}

.explanation i:hover {
  cursor: pointer;
}

#on {
  background: rgb(96, 246, 105);
  background: linear-gradient(
    190deg,
    rgba(96, 246, 105, 1) 32%,
    rgba(1, 173, 43, 1) 87%
  );
  transition: 0.2s ease;
}

/* #on:hover{
      background: rgb(58, 220, 68);
    background: linear-gradient(
      190deg,
      rgb(84, 213, 93) 32%,
      rgb(2, 137, 36) 87%
    );
  } */

#off {
  background: rgb(241, 85, 85);
  background: linear-gradient(
    190deg,
    rgba(241, 85, 85, 1) 32%,
    rgba(213, 12, 12, 1) 87%
  );
  transition: 0.2s ease;
}

#stop{
  background-color: yellow;
  background-image: url("panicbutton.png");
  transition: 0.2s ease;
}

#buttonText {
  top: 50%; /* 3 */
  transform: translate(0, -50%); /* 4 */
}

/* advanced screen */
#advancedscreen{
  display: none;
}

.category{
  margin: 10px;
  width: 30vw;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.category button{
  width: 45%;
  height: 7vh;
  margin: 10px;
}

.onbutton{
  background-color: rgb(76, 247, 76);
}
.offbutton{
  background-color: rgb(247, 76, 76);
}

#category1{
 
}

/* clock */

#container {
  position: fixed;
  bottom: 10vh;
  right: 5vw;
  display: flex;
  height: 10vh;
  align-items: center;
  flex-direction: column;
  min-width: 350px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding-top: 10px;
}

.colon {
  position: relative;
  /* bottom: 14px; */
}

span {
  text-align: center;
  font-size: 30px;
  opacity: 0.7;
  color: #fff;
  text-shadow: 2px 2px #000;
  font-weight: 700;
}
