body {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;

  height: 100vh;
  background-image: url("background.jpg");
  background-size: cover;
  width: 100%;
  margin: 0px;
  /* overflow: hidden; */
  text-transform: uppercase;
}
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px;
  /* margin-bottom: 3vh; */
  width: 100%;
  height: 11vh;
  background-color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  /* padding-left: 7vw;
  padding-right: 7vw; */
}

.icons {
  font-size: 100;
  margin-top: 3vh;
  background-color: #fff;
}
.icons:hover {
  cursor: pointer;
}

.fas {
  background: #9c47fc;
  background: linear-gradient(#9c47fc, #356ad2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  border: 0px;
}
button:hover{
  cursor: pointer;
}
button:active{
  background-color: gray;
}

/* ??? */
#homescreen {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh;
  padding-top: 0px;
  padding-bottom: 0px;
}

.buttonHome {
  width: 30vw;
  height: 20vh;
  margin: 3vh;
  text-align: center;
  border-radius: 25px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.05);
  color: white;
  font-size: 400%;
  border: 0px;
}

.buttonHome:hover {
  cursor: pointer;
}

.buttonHome:active {
  width: 29vw;
}

.buttonandquestion {
  display: flex;
  flex-direction: row;
}

.explanation {
  padding-top: 12vh;
  color: rgb(231, 231, 231);
}

.explanation i:hover {
  cursor: pointer;
}

#on {
  background: rgb(96, 246, 105);
  background: linear-gradient(
    190deg,
    rgba(96, 246, 105, 1) 32%,
    rgba(1, 173, 43, 1) 87%
  );
  transition: 0.2s ease;
}

#off {
  background: rgb(241, 85, 85);
  background: linear-gradient(
    190deg,
    rgba(241, 85, 85, 1) 32%,
    rgba(213, 12, 12, 1) 87%
  );
  transition: 0.2s ease;
}

#stop {
  background-color: yellow;
  background-image: url("panicbutton.png");
  transition: 0.2s ease;
}

#buttonText {
  top: 50%; /* 3 */
  transform: translate(0, -50%); /* 4 */
}

/* advanced screen */
#advancedscreen {
  display: none;
  flex-wrap: wrap;
  align-content: flex-start;
  /* height: 100%; */
  padding: 10px;
}

.installationbutton {
  width: 15vw;
  height: 15vw;
  margin: 10px;
  border-radius: 10%;
  background-color: white;
}

.installationscreen {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  margin: 0px;
  left: 0px;
}

.screentitle {
  text-align: center;
  margin: 40px;
  font-size: 35px;
  font-weight: 900;
  width: 100%;
  height: 10vh;
}

.categoryDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  /* background-color: rgb(245, 245, 245); */
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  padding: 10px;
}

.closebutton {
  font-size: 40px;
  position: fixed;
  right: 0px;
  margin: 2vw;
  height: auto;
  transform: rotate(45deg);
}
.closebutton:hover {
  cursor: pointer;
}

.onoffbutton {
  background-color: rgb(188, 213, 243);
  margin: 10px;
  height: 10vh;
  min-width: 15vw;
  border-radius: 10px;
}
/* admin screen */

#userlogtext{
  width: 50vw;
  height: 50vh;
  margin: 5vw;
}

/* clock */

#container {
  position: fixed;
  bottom: 10vh;
  right: 5vw;
  display: flex;
  /* height: 10vh; */
  align-items: center;
  flex-direction: column;
  min-width: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding:  10px 0px 10px 0px;
}

.colon {
  position: relative;
  /* bottom: 14px; */
}

span {
  text-align: center;
  font-size: 30px;
  opacity: 0.7;
  color: #fff;
  text-shadow: 2px 2px #000;
  font-weight: 700;
}


/* local storage button */
#readlocalstorage{
  position: fixed;
  top: 50px;
  right: 20px;
  height: 40px; 
}
#clearlocalstorage{
  position: fixed;
  top: 130px;
  right: 20px;
  height: 40px; 
}