@import url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2886/genericons.css");

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  min-width: 260px;
  overflow-x: hidden;
  width: 100%;
  user-select: none;
  -webkit-touch-callout: none;
  font-family: "Open Sans", sans-serif;
}

.content {
  margin: 0 auto;
  width: 90%;
  max-width: 1280px;
}

.centered {
  text-align: center;
}

.radial {
  width: 100%;
  height: 100%;
  position: absolute;
}

main[role="main"] {
  margin: 7% 7% 0 7%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.controller {
  border-top: 2px solid rgb(26, 160, 215);
  border-bottom: 2px solid rgb(26, 160, 215);
  font-size: 2em;
}

.chapters {
  font-weight: normal;
  margin: 1em auto;
  width: 70%;
}

.btn {
  font-size: 2em;
  background: rgb(7, 61, 163);
  border-radius: 48px;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.1);
  color: white;
  display: block;
  margin: 1em auto;
  padding: 0.78em;

  transition: all 0.3s ease;
}

.btn:hover {
  cursor: pointer;
}
